<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#2c3e50">
    <title>{% block title %}Expert Network{% endblock %}</title>

    <meta name="mobile-web-app-capable" content="yes">

    {% block stylesheets %}{% endblock %}
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/bootstrap.min.js') }}"></script>

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
</head>
<body>
{% block navbar %}
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Expert Network</a>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {% if is_granted("ROLE_USER") %}
                            <li>
                                <a href="{{ path('settings') }}">
                                    Settings
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('logout') }}">
                                    Logout
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </div>
{% endblock %}

<div class="container">
    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}
</div>

<footer class="footer">
    <div class="container">
        <p>All rights reserved @{{ "now"|date("Y") }}</p>
    </div>
</footer>

{% block javascripts %}{% endblock %}

</body>
</html>
